<div id="datatransFormContainer">

    <script src="{{frontendApi}}/upp/payment/js/datatrans-1.0.2.js"></script>   

    <form id="paymentForm"
          data-merchant-id="{{merchantId}}"
          data-amount="{{amount}}"
          data-currency="{{purchaseCurrency}}"
          data-paymentmethod="{{paymentMethod}}"
          data-language="{{language}}"
          data-refno="{{referenceNumber}}"
          data-sign="{{sign}}"
          data-success-url="{{formActionUrl}}"
          data-error-url="{{formActionUrl}}"
          data-reqtype="{{paymentAction}}"
          data-theme-configuration="{'brandColor': '#01BD32','textColor': 'white','logoType': 'circle','logoBorderColor': '#000000','brandButton': 'true','logoSrc': 'merchant-logo.svg'}">
    </form>

    <script type="text/javascript">
        $( "#paymentForm" ).ready(function() {
        Datatrans.startPayment({
            'form': '#paymentForm',
            'params': {
                '{{paymentMethodCodeParamName}}': '{{paymentMethodCode}}',
                'orderid': '{{orderid}}'
            },
            'closed': function() {
                document.location.href="/";
            }});
        });
    </script>
</div>

